@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background);
}

:root {
    --background: #111317;
    --orange: #f9ac54;
    --dark-orange: #d79447;
    --white: #ffffff;
    --max-width: 1200px;
    --text-color: #d1d5db;
    --dark-gray: #1f2125;
    --light-gray: #35373b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 3vh 35vh;
    max-width: var(--max-width);
}

.nav-header {
    display: flex;
    gap: 3rem;
    max-width: var(--max-width);
}

.nav-header a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

.nav-header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    bottom: -9px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--dark-orange);
    transition: width 0.3s ease;
}

.nav-header a:hover::after {
    width: 50%;
}

.logo-header {
    max-width: 150px;
}

.join-button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: fit-content;
}

.join-button:hover {
    background-color: var(--dark-orange);
}



.secao__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 4rem 1rem;
}

.secao__cabecalho {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.secao__subcabecalho {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-color);
}

.botao {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: var(--dark-orange);
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.conteudo1_container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.conteudo1_container::before {
    content: "FITNESS";
    bottom: 5rem;
    right: 20rem;
    font-weight: 700;
    color: var(--white);
    font-size: 11rem;
    position: absolute;
    line-height: 7rem;
    opacity: 0.05;
    z-index: -1;
}

.cabecalho__desfoque {
    bottom: 7rem;
    right: 0;
}

.cabecalho__conteudo h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark-orange);
}

.cabecalho__conteudo h1 {
    margin-bottom: 1rem;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 6.5rem;
    color: var(--white);
}

.cabecalho__conteudo h1 span {
    -webkit-text-fill-color: rgb(32, 32, 32);
    -webkit-text-stroke: 1px var(--white);
    margin-right: 10px;
}

.cabecalho__conteudo p {
    margin-bottom: 2.5rem;
    color: var(--text-color);
}

.imagem_conteudo1 {
    position: relative;
}

.imagem_conteudo1::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 43rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--orange);
    font-weight: 400;
    opacity: 0.15;
    z-index: -1;
}

.imagem_conteudo1 img {
    max-width: 350px;
    margin: auto;
}

/* Benefit Cards - Start */

.card-wrapper {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 20px;
}

#benefists h5{
    max-width: var(--max-width);
    color: var(--white);
    font-size: 2.5rem;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 5rem;
    gap: 20px;
}

.card-benefits {
    background-color: var(--dark-gray);
    padding: .7rem;
    display: grid;
    gap: .5rem;
    max-width: 19rem;
    margin: 0 auto;
    border-radius: .4rem;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.card-benefits:hover {
    color: var(--dark-orange);
}

.card-benefits h3 {
    color: var(--white);
}

.card-benefits p {
    color: var(--text-color);
}

.card-benefits a {
    color: var(--white);
    width: fit-content;
}

.card-benefits a:hover{
    transition: all .5s;

    color: var(--dark-orange);
}

.card-benefits img {
    width: 25px;
    background-color: var(--dark-orange);
    padding: .4rem;
    border-radius: .3rem;
}

/* Benefit Cards - End */

/* Book a Class - Start */
#book-a-class {
    gap: 0 2rem;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #FFFDFF;
    padding: 10rem;
}

#book-a-class>.book-imgs img:first-child {
    max-width: 25vw;
    float: right;
    border-radius: .7rem;
}

#book-a-class>.book-imgs img:last-child {
    max-width: 15vw;
    float: left;
    position: absolute;
    left: 0;
    bottom: 50px;
    border-radius: .7rem;
}

.book-imgs {
    position: relative;
}

.book-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50vh;
    justify-content: center;
}

.book-content button {
    margin-top: 1rem;
}

.book-content h2 {
    font-size: 2.5rem;
}

/* Book a Class - End */

/* Why Join Us? - Start */

#why-join-us {
    color: #FFFDFF;
    max-width: var(--max-width);
    margin: 0 auto;
}

.join-us-header {
    text-align: center;
    gap: 1.25rem;
    margin: 0 0 4rem 0;
    display: flex;
    flex-direction: column;
}

.join-us-header h2 {
    font-size: 40px;
}

.join-us-header p {
    color: #d1d5db;
}

.join-us-content {
    position: relative;
    background-color: #1f2125;
    border-radius: .7rem;
}

.join-us-content img:first-child {
    border-radius: .7rem;
}

.join-us-card-wrapper {
    position: absolute;
    bottom: -5rem;
    background-color: var(--dark-gray);
    padding: 2.5rem;
    display: flex;
    margin: 0 auto;
    gap: 3.125rem;
    border-radius: .6rem;
}

.join-us-card-center {
    justify-content: center;
    display: flex;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--text-color);
}

.card-content h4 {
    font-size: 1.25rem;
}

.card-icon img {
    width: 35px;
    background-color: var(--dark-orange);
    padding: .5rem;
    border-radius: .1rem;
}

/*  */

/* Princing Plan - Start */
#pricing-plan {
    color: var(--white);
    height: 100vh;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;    
}

.section-title {
    text-align: center;
    gap: 1.25rem;
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.section-title h2 {
    font-size: 40px;    
}

.section-title p {
    color: var(--text-color);
}

.pricing-benefits {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.pricing-benefits > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pricing-benefits>div>img {
    width: 20px;
}

.pricing-benefits > div > p {
    font-size: 14px;
}

.pricing-wrapper {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.pricing-card {
    border-radius: 9px;
    padding: 40px 30px;
    width: 300px;
    background: var(--dark-gray);
    gap: 10px;
    display: flex;
    flex-direction: column;
    transition: all .3s;

    &:hover {
        border: 2px solid var(--orange);
        background: var(--light-gray);
        transform: scale(1.1);

    }

    a:hover {
        transition: all .5s;
        background: var(--orange);
        color: var(--white);
    
    }
}

.pricing-card h4 {
    font-weight: 600;
}

.pricing-card span {
    font-size: 40px;
    font-weight: 600;
}

.pricing-card hr {
    margin-bottom: 25px;
}

.pricing-card a {
    color: var(--dark-orange);
    width: auto;
    border: 2px solid var(--dark-orange);
    text-align: center;
    padding: .7rem;
    border-radius: 5px;
    margin: 30px 0 0 0;
}


/* Why Join Us? - End */

/* Reviews - Start */

#reviews {
    height: 50vh;
    display: flex;
    align-items: center;
    color: var(--text-color);
    background: var(--dark-gray);
}

.Comments-img {
}

.reviews-wrapper {
    margin: 0 auto;
    width: 950px;
}

.review-card-content {
    margin-top: 100px;
    width: 850px;
}

.review-card-content span {
    display: block;       
    margin-bottom: 10px;  
    font-weight: 600;  
}

.review-card span{
    font-size: 20px;
    color: var(--white);
}
.review-card-member {
    display: flex;
    padding-top: 5%;
}

.review-card-member span {
    font-size: 15px;
}

.review-card-member img {
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

/* Reviews - End */

/* Slider */

/* Estilos para as setas */
.slick-prev,
.slick-next {
    position: absolute;
    top: 100%;  
    transform: translateY(-50%);  
    background: transparent;  
    border-radius: 50%;  
    border: 2px solid var(--orange); 
    width: 30px;  
    height: 30px; 
    font-size: 20px; 
    color: var(--orange); 
    cursor: pointer;  
    z-index: 9999;  
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: all 0.3s ease; 
}

.slick-prev {
    right: 60px;  
}

.slick-next {
    right: 10px;  
}

/* Efeito de hover */
.slick-prev:hover,
.slick-next:hover {
    color: var(--dark-orange);  
    transform: translateY(-50%) scale(1.1); 
    border: 2px solid var(--dark-orange);  
}

/* Footer - Start */

.footer {
    background-color: var(--background);
    padding: 3rem 2rem;

}

.footer-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 2rem;
}


.footer-logo img {
    max-width: 150px;
    margin-bottom: 2rem;
}

.footer__text {
    max-width: 400px;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.footer-column h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
}

.footer-column a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.footercfooter-columnoluna a:hover {
    color: var(--orange);
}

/* Footer - End */
